.content {
	/* background-color: rgba(239, 190, 171, 0.3); */
	/* background-color: rgba(255,255,255,0.6); */
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 5%;
	padding-bottom: 2%;
	padding-left: 10%;
	padding-right: 10%;
}

.table {
    table-layout: fixed;
}

h1 {
	/* color: rgb(70, 100, 29) !important; 
	color:rgb(34, 139, 34); */
	color: black;
}
h3 {
	/* color:rgb(34, 139, 34); */
	color: black;
} 

table {
	color: rgb(83, 83, 83);

}

.content {
	color: rgb(83, 83, 83);
}

.content a:hover {
	color:  rgb(125, 158, 66);

}

.content a {
	color:rgb(34, 139, 34);
	/* color: rgb(72, 184, 72); */
}

.bg-custom {
	color: white !important;
	/* background-color: rgb(70, 100, 29);
	background-color: rgb(100,100,100) */
	/* background-color: rgb(150, 192, 84) !important; */ 
	/* background-color:rgb(34, 139, 34); */
	/* background-color: rgb(76, 187, 23); */
 /* fallback for old browsers */
 background: rgb(34, 139, 34);


 /* Chrome 10-25, Safari 5.1-6 */
 background: -webkit-linear-gradient(to right, rgb(34, 139, 34), rgb(125, 158, 66));

 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* background: linear-gradient(to left, rgb(225, 25, 49), rgb(125, 158, 66)); */
	
 background: linear-gradient(to right, rgb(34, 139, 34), rgb(125, 158, 66));

}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
  }
  